<p color="red">SCHAUE DAS VIDEO UND GEWINNE 50%</p>

<div id="container">
	<video id="interactad_clip" class="video-js vjs-default-skin" 
preload="auto" width="640" height="360"
data-setup="{}">
		<source src="/assets/smaller.mp4" type="video/mp4">
		<!-- <source src="/assets/interactad-clip.mp4" type="video/mp4"> -->
	</video>

	<div id="curtain"></div>

	<div id="quiz">
		<div class="question alpha70">
			Frage 1/3: Beantworte und Gewinne einen Gratisspot: Welche Farbe hat das Meer? (QR-Code für Gutschein) (Domain reservieren)
		</div>
		<div class="answer alpha50">Grün</div>
		<div class="answer alpha50">Rot</div>
		<div class="answer alpha50">Blau</div>
	</div>
</div>