<div id="container">
	<video id="interactad_clip" class="video-js vjs-default-skin" 
preload="auto" width="960" height="540"
data-setup="{}">
		<source src="/assets/interactad-clip.mp4" type="video/mp4">
	</video>

	<div id="quiz">
		<div class="question alpha70">
			Welche Farbe hat das Meer?
		</div>
		<div class="answer alpha50">Grün</div>
		<div class="answer alpha50">Rot</div>
		<div class="answer alpha50">Blau</div>
	</div>
</div>