{{outlet}}

<div id="container">

	{{view App.CurtainView}}
	
	<!-- TODO: Frage 1/3: Beantworte und Gewinne einen Gratisspot: Welche Farbe hat das Meer? (QR-Code für Gutschein) -->
	<video>
		<source src="/assets/smallerlonger.mp4" type="video/mp4">
	</video>
</div>