{{outlet}}

<p color="red">SCHAUE DAS VIDEO UND GEWINNE 50%</p>

<div id="container">

	<div id="curtain">
		<div id="buttonPlay" class="alpha"></div>
	</div>

	<!-- TODO: Frage 1/3: Beantworte und Gewinne einen Gratisspot: Welche Farbe hat das Meer? (QR-Code für Gutschein) -->
	{{view App.QuizView}}
	
</div>