<div id="quiz">
	<div class="question alpha"></div>
	<div class="answer alpha">Grün</div>
	<div class="answer alpha">Rot</div>
	<div class="answer alpha">Blau</div>
	<div id="buttonReplay" class="alpha"></div>
</div>