{{#view App.VideoView}}
	<video width="960" height="540">
		<source src="/assets/960.mp4" type="video/mp4">
	</video>

	{{#view App.CurtainView}}
		<div class="curtain">
			{{#view App.ButtonPlayView}}
				<div class="buttonPlay alpha"></div>
			{{/view}}
		</div>
	{{/view}}

	{{#view App.QuizView}}
		<div class="quiz">
			<div class="question alpha">Welche Farbe hat das Meer?</div>
			<div class="answer alpha">Grün</div>
			<div class="answer alpha">Rot</div>
			<div class="answer alpha">Blau</div>
			{{#view App.ButtonReplayView}}
				<div class="buttonReplay alpha"></div>
			{{/view}}
		</div>
	{{/view}}
{{/view}}