{{#view App.VideoView}}
	<video width="960" height="540">
		<source src="/assets/960.mp4" type="video/mp4">
	</video>

	{{#view App.CurtainView}}
		<div class="curtain">
			{{#view App.ButtonPlayView}}
				<div class="buttonPlay alpha"></div>
			{{/view}}
		</div>
	{{/view}}

	{{#view App.QuizView controllerBinding="App.testController"}}
		<div class="quiz">
			<div class="question alpha">{{question}}</div>
			<!-- 
				{{#each App.quizController}}
					<div class="question alpha">{{question}}</div>
				{{/each}}
			-->
			
			{{#each answers}}
				<div class="answer alpha">{{answer}}</div>
			{{/each}}

			{{#view App.ButtonReplayView}}
				<div class="buttonReplay alpha"></div>
			{{/view}}
		</div>
	{{/view}}
{{/view}}